<!DOCTYPE html>
<html>
<head>
    <title>公司信息表</title>
    <#include "/header.html">
    <style>
        img{
            width: 50px;
            height: 50px;
        }
        .upload-pic{
            margin-left: 20px;
        }
    </style>
    <script src="${request.contextPath}/statics/libs/ajaxupload.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2" style="width:200px">
                <input type="text" class="form-control" v-model="q.name" @keyup.enter="query" placeholder="请输入公司名称"/>
            </div>
            <a class="btn btn-default" @click="query">查询</a>
            <#if shiro.hasPermission("sys:company:save")>
                <a class="btn btn-primary" @click="add">新建公司</a>
            </#if>
            <!--<#if shiro.hasPermission("sys:company:update")>-->
                <!--<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>-->
            <!--</#if>-->
            <!--<#if shiro.hasPermission("sys:company:delete")>-->
                <!--<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>-->
            <!--</#if>-->
</div>
<table id="jqGrid"></table>
<div id="jqGridPager"></div>
</div>

<div v-show="!showList" class="panel panel-default">
    <div class="panel-heading">{{title}}</div>
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-2 control-label">公司名称</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="company.name" placeholder="请输入公司名称"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">公司地址</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="company.address" placeholder="请输入公司地址"/>
            </div>
        </div>
        <div id="city" class="form-group">
            <div class="col-sm-2 control-label">选择省份</div>
            <div class="col-sm-10">
                <select class="prov" style="width: 175px;height: 30px;" v-model="company.provinceName">
                    <!--<option value="" >请选择省份</option>-->
                </select>
                <select class="city" style="width: 190px;height: 30px;" v-model="company.cityName">
                    <!--<option value="" >请选择城市</option>-->
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">法人</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="company.legalPersonName" placeholder="请输入法人姓名"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2 control-label">邮箱</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="company.email" placeholder="请输入邮箱"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">邮编</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="company.zipCode" placeholder="请输入邮编"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">联系人姓名</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="company.contactName" placeholder="请输入联系人姓名"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">联系人电话</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="company.phone" placeholder="请输入联系人电话"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">法人身份证照片</div>
            <div class="col-sm-10">
                <!--<input type="text" class="form-control" v-model="company.cardFileid" placeholder=""/>-->
                <img src="${request.contextPath}/statics/default.png" class="pic_class" id="bbb">
                <a class="btn btn-primary upload-pic" id="upload2"><i class="fa fa-plus"></i>&nbsp;上传证件</a>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">公司营业执照</div>
            <div class="col-sm-10">
                <!--<input type="text" class="form-control" v-model="company.businessFileid" placeholder=""/>-->
                <img src="${request.contextPath}/statics/default.png" class="pic_class" id="aaa">
                <a class="btn btn-primary upload-pic" id= "upload"><i class="fa fa-plus"></i>&nbsp;上传执照</a>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2 control-label"></div>
            <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
            &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
        </div>
    </form>
</div>
</div>
<script src="${request.contextPath}/statics/js/modules/sys/company.js?_${.now?long}"></script>
<script src="${request.contextPath}/statics/js/jquery.cityselect.js"></script>
</body>
<div id="outerdiv" style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">
    <div id="innerdiv" style="position:absolute;">
        <img id="bigimg" style="border:5px solid #fff;height: 60%;width: 60%;" src="" />
    </div>
</div>
</html>