<!DOCTYPE html>
<html>
<head>
    <title>配送信息表</title>
    <#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-md-2">
                <input type="text" class="form-control" v-model="q.name" placeholder="请输入姓名">
            </div>
            <div class="form-group col-md-2">
                <input type="month" class="form-control" v-model="q.month" placeholder="请输入月份">
            </div>
            <div class="form-group col-md-2">
                <input type="text" class="form-control" v-model="q.cardId" placeholder="请输入身份证">
            </div>
            <div class="form-group col-md-2">
                <select class="form-control" v-model="q.companyId" @change="changeCompany(q.companyId, 1)">
                    <option value="">请选择公司</option>
                    <option v-for="company in companyList" :value="company.id" :key="company.id">
                        {{ company.name }}
                    </option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <select class="form-control" v-model="q.status" placeholder="请选择状态">
                    <option value="">请选择状态</option>
                    <option value="0">启用</option>
                    <option value="1">停用</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <select class="form-control" v-model="q.areaId" @change="changeArea(q.areaId, 1)">
                    <option value="">请选择片区</option>
                    <option v-for="area in areaList" :value="area.id" :key="area.id">
                        {{ area.name }}
                    </option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <select class="form-control" v-model="q.cityId" @change="changeCity(q.cityId, 1)">
                    <option value="">请选择城市</option>
                    <option v-for="city in cityList" :value="city.id" :key="city.id">
                        {{ city.name }}
                    </option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <select class="form-control" v-model="q.siteId" placeholder="请选择站点">
                    <option value="">请选择站点</option>
                    <option v-for="site in siteList" :value="site.id" :key="site.id">
                        {{ site.name }}
                    </option>
                </select>
            </div>
            <a class="btn btn-default" @click="query"></i>&nbsp;查询</a>
            <a class="btn btn-primary" @click="download"><i class="fa fa-download"></i>&nbsp;下载模板</a>
            <a class="btn btn-primary" id="upload"><i class="fa fa-list"></i>&nbsp;批量录入</a>
            <a class="btn btn-primary" @click="exportFile"><i class="fa fa-sign-out"></i>&nbsp;导出数据</a>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">月份</div>
                <div class="col-sm-10" v-if="!disabled">
                    <input type="month" class="form-control" v-model="dispatch.month" placeholder="月份"/>
                </div>
                <div class="col-sm-10" v-else>
                    <input type="text" class="form-control" v-model="dispatch.month" disabled/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">公司</div>
                <div class="col-sm-10" v-if="disabled">
                    <input type="text" class="form-control" v-model="dispatch.companyName" disabled/>
                </div>
                <div class="col-sm-10" v-else>
                    <select class="form-control" v-model="dispatch.companyId" @change="changeCompany(dispatch.companyId, 2)">
                        <option value="">请选择公司</option>
                        <option v-for="company in companyList" :value="company.id" :key="company.id">
                            {{ company.name }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">ERP账号</div>
                <div class="col-sm-10" v-if="disabled">
                    <input type="text" class="form-control" v-model="dispatch.erpNumber" disabled>
                </div>
                <div class="col-sm-10" v-else>
                    <select class="form-control" v-model="dispatch.erpId" @change="changeErp(dispatch.erpId)">
                        <option value="">请选择erp</option>
                        <option v-for="erp in erpList" :value="erp.id" :key="erp.id">
                            {{ erp.erpNumber }}
                        </option>
                    </select>
                </div>
            </div>
            <!--<div class="form-group">-->
                <!--<div class="col-sm-10 control-label"></div>-->
                <!--<div class="col-sm-2 control-label"><a class="btn btn-default" @click="search(dispatch.erpNumber)"></i>&nbsp;查询</a>-->
                <!--</div>-->
            <!--</div>-->
            <div class="form-group">
                <div class="col-sm-2 control-label">片区</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="dispatch.areaName" disabled/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">城市</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="dispatch.cityName" disabled/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">站点</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="dispatch.siteName" disabled/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">姓名</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="dispatch.courierName" placeholder="姓名" disabled/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">身份证</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="dispatch.cardId" placeholder="身份证" disabled/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">总单量</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="dispatch.allOrderCount" placeholder="总单量"
                           :disabled="disabled"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">合计单量</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="dispatch.totalOrderCount" placeholder="合计单量"
                           :disabled="disabled"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">费用合计</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="dispatch.totalMoney" placeholder="费用合计"
                           :disabled="disabled"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">小件</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="dispatch.small" placeholder="小件"
                           :disabled="disabled"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">大件</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="dispatch.large" placeholder="大件"
                           :disabled="disabled"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">三同</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="dispatch.thrIdentical" placeholder="三同"
                           :disabled="disabled"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">售后取件</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="dispatch.afterSaleCount" placeholder="售后取件"
                           :disabled="disabled"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">接货首单量</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="dispatch.firstCount" placeholder="接货首单量"
                           :disabled="disabled"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">接货续单量</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="dispatch.againCount" placeholder="接货续单量"
                           :disabled="disabled"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">其他单量</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="dispatch.otherCount" placeholder="其他单量"
                           :disabled="disabled"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">差评</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="dispatch.badCount" placeholder="差评数"
                           :disabled="disabled"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">投诉</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="dispatch.complaintCount" placeholder="投诉数"
                           :disabled="disabled"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">罚款合计</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="dispatch.fineMoney" placeholder="罚款合计"
                           :disabled="disabled"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">其他扣款</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="dispatch.deductMoney" placeholder="其他扣款"
                           :disabled="disabled"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">工资</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="dispatch.salary" placeholder="工资"
                           :disabled="disabled"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">备注</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="dispatch.remark" placeholder="备注"
                           :disabled="disabled"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定" v-show="!disabled"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/dispatch.js?_${.now?long}"></script>
<script src="${request.contextPath}/statics/libs/ajaxupload.js"></script>
</body>
</html>