<!DOCTYPE html>
<html>
<head>
    <title>合同信息表</title>
		<#include "/header.html">
    <style>
        th{
            text-align: center;
        }
    </style>
    <script src="${request.contextPath}/statics/libs/ajaxupload.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.name" @keyup.enter="query" placeholder="输入合同名称">
            </div>
            <div class="form-group col-sm-3">
                <input type="text" class="form-control" v-model="q.businessName" @keyup.enter="query" placeholder="输入业务名称">
            </div>
            <div class="form-group col-sm-2">
                <select class="form-control" v-model="q.pactStatus"  placeholder="请选择合同">
                    <option value="" >请选择状态</option>
                    <option value="0">待生效</option>
                    <option value="1">生效</option>
                    <option value="2">结束</option>
                </select>
            </div>
            <div class="form-group col-sm-2">
                <select class="form-control" v-model="q.companyId"  placeholder="请选择合同">
                    <option value="" >请选择公司</option>
                    <option  v-for="company in companylist"  :value="company.id" >{{company.name}}</option>
                </select>
            </div>
            <div class="form-group col-sm-2">
                <select class="form-control" v-model="q.timeType"  placeholder="请选择合同">
                    <!--<option value="" >请选择时间</option>-->
                    <option value="0">创建时间</option>
                    <option value="1">合同开始时间</option>
                    <option value="2">合同结束时间</option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <input type="date" class="form-control" style="width: 40%;display: initial;" v-model="q.startDate"  placeholder="起始日期"/>---
                <input type="date" class="form-control" style="width: 40%;display: initial;" v-model="q.endDate"  placeholder="终止日期"/>
            </div>
            <a class="btn btn-default" @click="query">查询</a>
			<#if shiro.hasPermission("sys:pact:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<!--<#if shiro.hasPermission("sys:pact:update")>-->
            <!--<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>-->
			<!--</#if>-->
			<!--<#if shiro.hasPermission("sys:pact:delete")>-->
            <!--<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>-->
			<!--</#if>-->
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
					<div class="form-group">
                        <div class="col-sm-2 control-label">合同名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="pact.name" placeholder="合同名称"/>
                        </div>
                    </div>
					<div class="form-group">
                        <div class="col-sm-2 control-label">业务名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="pact.businessName" placeholder="业务名称"/>
                        </div>
                    </div>
					<div class="form-group">
                        <div class="col-sm-2 control-label">公司</div>
                        <div class="col-sm-10">
                            <select class="form-control" v-model="pact.companyId" placeholder="选择公司">
                                <option value="" >请选择公司</option>
                                <option  v-for="company in companylist"  :value="company.id" >{{company.name}}</option>
                            </select>
                        </div>
                    </div>
					<div class="form-group">
                        <div class="col-sm-2 control-label">省份</div>
                        <div class="col-sm-10">
                            <!--<input type="text" class="form-control" v-model="pact.provinceName" placeholder="省份"/>-->
                            <select class="form-control prov"  v-model="pact.provinceName">
                            </select>
                        </div>
                    </div>
					<div class="form-group">
                        <div class="col-sm-2 control-label">城市</div>
                        <div class="col-sm-10">
                            <!--<input type="text" class="form-control" v-model="pact.cityName" placeholder="城市"/>-->
                            <select class="form-control city"  v-model="pact.cityName">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">开始时间</div>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" v-model="pact.startDate" placeholder="开始时间"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">结束时间</div>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" v-model="pact.endDate" placeholder="结束时间"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">合同文件</div>
                        <div class="col-sm-10">
                            <a class="btn btn-primary" id="upload"><i class="fa fa-plus"></i>&nbsp;上传文件</a>
                            <div class="filename_class" style="font-size: 20px;color: red;"></div>
                        </div>
                    </div>
					<div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                        &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
                    </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/pact.js?_${.now?long}"></script>
</body>
</html>